//
//
//

@charset 'utf-8';

@use 'utilities/variables' with (
    $font-size: .875rem
);

@use 'vendors/line-awesome';

body {
    font-size: variables.$font-size;
}

.dropdown-menu {
    font-size: variables.$font-size;
}

.toolbar {
    position: sticky;
    top: 56px;
    z-index: 100;
}

#user {
    & > ul {
        position: absolute;
        transform: translate(0px, 34px);
        inset: 0px 0px auto auto;
    }
}
